<%= link_to "Home", home_index_path %>

<p id="notice"><%= notice %></p>

<% @conditions = Condition.order(:name) %>

<h1>Conditions</h1>

<table>
  <thead>
    <tr>
      <th colspan>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= link_to condition.name.titleize, condition_path(condition) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condition', new_condition_path %>
